[Unit]
Description=A Python Telegram bot
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/path/to/Pyper
ExecStart=/path/to/Pyper/.venv/bin/python -m pyper.main
## If not using virtualenv
#ExecStart=/usr/bin/env python3 -m pyper.main
Restart=on-failure

[Install]
WantedBy=default.target